@use 'abstracts' as *;

* {
    margin: 0;
    box-sizing: border-box;
    min-width: 0;
    font-size: $font_size;
    overflow-x: hidden;
}

button,
a {
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 0.4rem;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #d6d6d6;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
