@use './colors' as *;

@mixin cursor_pointer {
    cursor: pointer;
}

@mixin font_karla($value) {
    font-family: 'Karla', sans-serif;
    font-weight: $value;
}

@mixin font_julius($value) {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: $value;
}
