@import '../../../assets/scss/abstracts/index';

.home_top-locations {
    height: 100vh;
    background-color: $brown;
    color: $white;
    padding: 4rem 2.4rem;

    &__header {
        &__heading {
            text-align: center;
            line-height: 4.2rem;
            @include font_julius(400, 2.8rem);
        }
        &__message {
            text-align: center;
            line-height: 2.4rem;
            margin: 8rem 25.5rem;
            text-wrap: pretty;
            @include font_karla(300, 1.6rem);
        }

        &__view-all-locations {
            margin-right: 10.8rem;
            margin-top: -5rem;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 0.8rem;
            @include font_karla(300, 1.6rem);
        }
    }

    &__list {
        width: 100%;
        scroll-behavior: smooth;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        text-align: center;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        margin-bottom: 2rem;

        &::-webkit-scrollbar {
            display: none;
        }

        &__listing_detail {
            position: absolute;
            top: 0;
            z-index: 99;
            margin: 1.2rem;
            text-align: left;

            &__projects {
                @include font_karla(400, 1.4rem);
                margin-bottom: 0.8rem;
            }
            &__name {
                @include font_karla(700, 2rem);
            }
        }

        &__image_carousel {
            list-style: none;
            display: inline-block;
            position: relative;
            vertical-align: middle;
            margin-left: 1.5%;
            margin-right: 1.5%;
            transition: 0.2s;
            margin-top: 2rem;

            img {
                object-fit: cover;
                // position: relative;
            }

            .image_2,
            .image_7 {
                width: 27.9rem;
                height: 30.4rem;
            }

            .image_0,
            .image_4,
            .image_5,
            .image_9 {
                width: 27.9rem;
                height: 40.8rem;
            }

            .image_1,
            .image_3,
            .image_6,
            .image_8 {
                width: 25.7rem;
                height: 35.2rem;
            }

            .image_2,
            .image_7 {
                width: 27.9rem;
                height: 30.4rem;
            }
        }

        &__view-all-projects {
            position: absolute;
            bottom: 0;
            left: 0;
            margin: 1.2rem;
            @include font_karla(700, 1.7rem);

            &:hover {
                text-decoration: underline;
            }
        }

        &__button {
            @include btn_gradient();
            position: absolute;
            bottom: 0;
            right: 0;
            width: 5rem;
            height: 5rem;
            border: none;
            border-top-left-radius: 1.7rem;
        }
    }

    &__list-buttons {
        position: absolute;
        right: 10.8rem;

        button {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            border: none;
            margin-left: 1.2rem;
        }
    }
}
