@import '../../assets/scss/abstracts/index';

.home_top-locations {
    height: 100vh;
    background-color: $brown;
    color: $white;
    padding: 4rem 2.4rem;

    &__header {
        &__heading {
            font-family: 'Julius Sans One', sans-serif;
            text-align: center;
            font-size: 28px;
            font-weight: 400;
            line-height: 42px;
        }
        &__message {
            font-family: 'Karla', sans-serif;
            text-align: center;
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;
            margin: 80px 255px;
            text-wrap: pretty;
        }
    }

    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -25%);
        min-width: 100vh;
        overflow-x: hidden;

        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        gap: 16px;

        &__listing_detail {
            position: absolute;
            top: 0;
            z-index: 99;
            font-family: 'Karla', sans-serif;
            margin: 1.2rem;

            &__projects {
                font-size: 1.4rem;
                font-weight: 400;
            }
            &__name {
                font-size: 2rem;
                font-weight: 700;
            }
        }

        img {
            object-fit: cover;
            position: relative;
        }

        .home_top-locations__list__2 {
            width: 279px;
            height: 304px;
        }

        .home_top-locations__list__0,
        .home_top-locations__list__4 {
            width: 279px;
            height: 408px;
        }

        .home_top-locations__list__1,
        .home_top-locations__list__3 {
            width: 257px;
            height: 352px;
        }

        &__view-all-projects {
            position: absolute;
            bottom: 0;
            left: 0;
            font-size: 17px;
            font-weight: 700;
            font-family: 'Karla', sans-serif;
            margin: 1.2rem;
        }

        &__button {
            background-image: linear-gradient(#be8444 25%, 75%, #fff);
            position: absolute;
            bottom: 0;
            right: 0;
            width: 5rem;
            height: 5rem;
            border: none;
            border-top-left-radius: 1.7rem;
        }
    }
}

.fade-right_to_left {
    opacity: 0;
    transform: translateX(100%);
    animation: slideInRight 1s ease forwards;
}

@keyframes slideInRight {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-left_to_right {
    opacity: 0;
    transform: translateX(-100%);
    animation: slideInLeft 1s ease forwards;
}

@keyframes slideInLeft {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
